[*.cs]

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = none
